@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
h1{
	text-align: center;
	font-family: 'Oswald';
	color: #FFFFFF; 
}

#slogan{
	font-style: italic;
	text-align: center;
	color: #f07d02;
}

body{
	background-color: #295e8f;
	text-align: center;
	font-family: 'Libre Baskerville';
	color: #FFFFFF;
}

ul{
	text-align: left;
	color: #295e8f;
}
a{
	color: #f07d02;
}
div{
	background: white;
	color: black;
	display: inline-block;
	margin: 10px;
	width: 450px;
	height: 450px;
}