h1{
	color: ;
	text-align: center;
	font-family: "Arial Black"; 
}

#slogan{
	font-style: italic;
	text-align: center;
}
body{
	background-color: #FFF0F5;
	text-align: center;
	font-family: "Georgia";
}
.about{
	color: #081842;
	text-align: center;
	font-family: "Georgia";
}
